[flake8]
max-line-length = 79

exclude =
    .git,
    __pycache__,
    venv,
    env,
    .venv,
    migrations,
    */migrations/*,
    manage.py,
    settings.py,
    apps.py

per-file-ignores =
    __init__.py: F401

